<h3 class="ui header">{{t "forms.i-i-s-kyrs6-покупка-билета-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kyrs6-покупка-билета-e.датаПокупки-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаПокупки
      class=(if (v-get validationModel "датаПокупки" "isInvalid") "error")
      data-test-i-i-s-kyrs6-покупка-билета-e-датаПокупки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаПокупки" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.времяПокупки
      class=(if (v-get validationModel "времяПокупки" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs6-покупка-билета-e.времяПокупки-caption")
      data-test-i-i-s-kyrs6-покупка-билета-e-времяПокупки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "времяПокупки" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kyrs6-покупка-билета-e.датаПоездки-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаПоездки
      class=(if (v-get validationModel "датаПоездки" "isInvalid") "error")
      data-test-i-i-s-kyrs6-покупка-билета-e-датаПоездки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаПоездки" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.пунктОтправ
      class=(if (v-get validationModel "пунктОтправ" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs6-покупка-билета-e.пунктОтправ-caption")
      data-test-i-i-s-kyrs6-покупка-билета-e-пунктОтправ=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "пунктОтправ" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.пунктНазнач
      class=(if (v-get validationModel "пунктНазнач" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs6-покупка-билета-e.пунктНазнач-caption")
      data-test-i-i-s-kyrs6-покупка-билета-e-пунктНазнач=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "пунктНазнач" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.место
      class=(if (v-get validationModel "место" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs6-покупка-билета-e.место-caption")
      data-test-i-i-s-kyrs6-покупка-билета-e-место=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "место" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kyrs6-покупка-билета-e.покупатель-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.покупатель
      displayAttributeName="банковскийСчет"
      autocomplete=true
      relationName="покупатель"
      projection="ПокупательL"
      title=(t "forms.i-i-s-kyrs6-покупка-билета-e.покупатель-caption")
      readonly=readonly
      componentName="покупательLookup"
      class=(if (v-get validationModel "покупатель" "isInvalid") "error")
      data-test-i-i-s-kyrs6-покупка-билета-e-покупатель=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "покупатель" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.покупатель.фИО
      class=(if (v-get validationModel.покупатель "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs6-покупка-билета-e.покупатель.фИО-caption")
      data-test-i-i-s-kyrs6-покупка-билета-e-покупатель-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.покупатель "фИО" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kyrs6-покупка-билета-e.перевозчик-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.перевозчик
      displayAttributeName="наименование"
      autocomplete=true
      relationName="перевозчик"
      projection="ПеревозчикL"
      title=(t "forms.i-i-s-kyrs6-покупка-билета-e.перевозчик-caption")
      readonly=readonly
      componentName="перевозчикLookup"
      class=(if (v-get validationModel "перевозчик" "isInvalid") "error")
      data-test-i-i-s-kyrs6-покупка-билета-e-перевозчик=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "перевозчик" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.перевозчик.наименование
      class=(if (v-get validationModel.перевозчик "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs6-покупка-билета-e.перевозчик.наименование-caption")
      data-test-i-i-s-kyrs6-покупка-билета-e-перевозчик-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.перевозчик "наименование" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kyrs6-покупка-билета-e.билетнаяКасса-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.билетнаяКасса
      displayAttributeName="наименование"
      autocomplete=true
      relationName="билетнаяКасса"
      projection="БилетнаяКассаL"
      title=(t "forms.i-i-s-kyrs6-покупка-билета-e.билетнаяКасса-caption")
      readonly=readonly
      componentName="билетнаяКассаLookup"
      class=(if (v-get validationModel "билетнаяКасса" "isInvalid") "error")
      data-test-i-i-s-kyrs6-покупка-билета-e-билетнаяКасса=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "билетнаяКасса" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.билетнаяКасса.наименование
      class=(if (v-get validationModel.билетнаяКасса "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs6-покупка-билета-e.билетнаяКасса.наименование-caption")
      data-test-i-i-s-kyrs6-покупка-билета-e-билетнаяКасса-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.билетнаяКасса "наименование" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.билетнаяКасса.адрес
      class=(if (v-get validationModel.билетнаяКасса "адрес" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs6-покупка-билета-e.билетнаяКасса.адрес-caption")
      data-test-i-i-s-kyrs6-покупка-билета-e-билетнаяКасса-адрес=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.билетнаяКасса "адрес" "message")}}
  </div>
  <div class="field" data-test-i-i-s-kyrs6-покупка-билета-e-статус="true">
    <label>{{t "forms.i-i-s-kyrs6-покупка-билета-e.статус-caption"}}</label>
    {{flexberry-dropdown
      items=(flexberry-enum "i-i-s-kyrs6-статус")
      value=model.статус
      class=(if (v-get validationModel "статус" "isInvalid") "error")
      readonly=readonly
    }}
    {{flexberry-validationmessage error=(v-get validationModel "статус" "message")}}
  </div>
</form>
