<h3 class="ui header">{{t "forms.i-i-s-kyrs6-оплата-билета-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kyrs6-оплата-билета-e.датаОплаты-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаОплаты
      class=(if (v-get validationModel "датаОплаты" "isInvalid") "error")
      data-test-i-i-s-kyrs6-оплата-билета-e-датаОплаты=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаОплаты" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kyrs6-оплата-билета-e.покупкаБилета-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.покупкаБилета
      displayAttributeName="пунктОтправ"
      autocomplete=true
      relationName="покупкаБилета"
      projection="ПокупкаБилетаL"
      title=(t "forms.i-i-s-kyrs6-оплата-билета-e.покупкаБилета-caption")
      readonly=readonly
      componentName="покупкаБилетаLookup"
      class=(if (v-get validationModel "покупкаБилета" "isInvalid") "error")
      data-test-i-i-s-kyrs6-оплата-билета-e-покупкаБилета=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "покупкаБилета" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.покупкаБилета.покупатель.фИО
      class=(if (v-get validationModel.покупкаБилета.покупатель "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs6-оплата-билета-e.покупкаБилета.покупатель.фИО-caption")
      data-test-i-i-s-kyrs6-оплата-билета-e-покупкаБилета-покупатель-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.покупкаБилета.покупатель "фИО" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.покупкаБилета.покупатель.банковскийСчет
      class=(if (v-get validationModel.покупкаБилета.покупатель "банковскийСчет" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs6-оплата-билета-e.покупкаБилета.покупатель.банковскийСчет-caption")
      data-test-i-i-s-kyrs6-оплата-билета-e-покупкаБилета-покупатель-банковскийСчет=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.покупкаБилета.покупатель "банковскийСчет" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.покупкаБилета.билетнаяКасса.наименование
      class=(if (v-get validationModel.покупкаБилета.билетнаяКасса "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs6-оплата-билета-e.покупкаБилета.билетнаяКасса.наименование-caption")
      data-test-i-i-s-kyrs6-оплата-билета-e-покупкаБилета-билетнаяКасса-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.покупкаБилета.билетнаяКасса "наименование" "message")}}
  </div>
</form>
